/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


.clicked
{
	backgroundColor: #FEFF9F;
	fontSize: 24;
}
global
{
	font-size: 15;
	chrome-color: #61db10;
}
.helpfulhint
{
	fontSize: 12;
	borderColor: #d60000;
	borderWeight: 2;
	backgroundColor: #0ea9fa;
	fontWeight: bold
}
	